@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  background: #ffffff; /* Color de fondo para el body */
/*background: linear-gradient(135deg, 
  #e6d5b8 0%,
  #d4c4a1 50%,
  #c2b28c 100%
); /* Asegúrate de que el color de fondo tenga el formato correcto */
}

body {
  height: auto;
}

/* Seccion para navbar */
header {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #040404c2;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 32px;
    color: #fff;
}

.logo span {
    color: #fff;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 12px;
}

nav {
    width: 50%;
    margin: 0 32px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #01a839cd;
    color: #fff;
    font-weight: bold;
}

/* Sección del home */
.home {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    background-image: url(../imagenes/p2.jpeg); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* background-attachment: fixed; */
   
}

.home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.327);
}

.home h1 {
    color: #fff;
    margin-top: 45vh;
    text-align: center;
    font-size: 80px;
    font-family: 'Dancing Script', cursive, serif;
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.home h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "Belleza", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    font-style: normal;
}

.home span {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: "Belleza", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    font-style: normal;
}


.date {
    display: flex; /* Usamos flexbox para alinear los elementos */
    margin-top: 30px; /* Espaciado superior */
    padding-left: 40px; /* Espaciado izquierdo */
    padding-right: 40px; /* Espaciado derecho */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.day, .month, .year {
    flex: 1; /* Ocupa el mismo espacio */
    padding: 5px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    margin: 0 2px; /* Espacio entre los elementos */
    justify-content: center;
}

.day, .year {
    border-top: 3px solid white; /* Borde superior */
    border-bottom: 3px solid white; /* Borde inferior */
    box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.5), 0 4px 2px -2px rgba(0, 0, 0, 0.5); /* Sombra en los bordes superior e inferior */
}

/* Sección de la fecha */

/* ? ----- Cuenta Regresiva ----- */
#cuenta {
    display: flex;
    flex-direction: column;
    /* background: #ccc; */
    height: 40%;
    padding-top: 25px;
    align-items: center;
    text-align: center;
}

#cuenta h2 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-family: "Belleza", serif;
    font-size: 45px;
    padding-bottom: 10px;
}



.simply-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
}

.simply-section {
    background: #2e891bb0;
    width: 120px;
    height: 120px;
    margin: 0 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    font-family: "Fleur De Leah", serif;
}

.simply-word {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    font-family: "Belleza", serif;
}

/* ? ---------------------------- */


.parallax {
    overflow: hidden; /* Oculta el contenido que se desborda */
}
.frase-boda {
    text-align: center;
    padding: 40px 20px;
    margin: 30px auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.frase-boda p {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: #4a4a4a;
    line-height: 1.6;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

/* tarjeta de padres */
.padres {
    padding: 40px 20px;
    text-align: center;
}

.padres h2 {
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-family: "Belleza", serif;
    margin-bottom: 40px;
}

.padres-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
}

.padres-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.padres-img {
    width: 100px;  /* Ancho fijo del contenedor */
    height: 100px; /* Alto fijo del contenedor para hacerlo cuadrado */
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
}

.padres-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.padres-card:hover {
    transform: scale(1.05);
}

.padres-card h3 {
    padding: 8px;
    font-family: "Belleza", serif;
    font-size: 2em;
    color: #333;
}

.padres-nombres {
    padding: 15px;
    font-family: "Belleza", serif;
}

.padres-nombres p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}

.padres-nombres span {
    display: block;
    font-size: 1.5em;
    color: #2e891bb0;
    margin: 10px 0;
}




.Ubicaciones h2 {
    text-align: center;
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-family: "Belleza", serif;
    padding: 25px 0;
}

/* Contenedor de las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px;
}
/* Estilo de las tarjetas */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.card-content p {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

/* Botón de Google Maps */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Belleza", sans-serif;
}
.btn i {
    margin-right: 5px;
}
.btn:hover {
    background-color: #0056b3;
    color:#fff;
    font-weight: bold;
}

/* Estilos para el ícono de hamburguesa */

.hamburger {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}


/* Carrusel  de fotos */

.album-title {
    text-align: center;
    margin: 20px 0;
  }
  
  .album-title h2 {
    font-size: 2em;
    color: #333;
    font-family: "Belleza", sans-serif;
  }
.novios-carousel {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo del carrusel */
    height: 400px; /* Ajusta la altura del carrusel */
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .novios-carousel .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .novios-carousel .swiper-button-next,
  .novios-carousel .swiper-button-prev {
    color: #fff;
  }
  
  .novios-carousel .swiper-pagination-bullet {
    background: #fff;
  }
/* Formulario de asistencia */
.confirmacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 600px;
}

.confirmacion h2 {
    color: #fff;
    font-family: "Belleza", serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

#confirmacion-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#confirmacion-form label {
    color: #fff;
    font-family: "Belleza", serif;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#confirmacion-form input,
#confirmacion-form select,
#confirmacion-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: "Belleza", serif;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
}

#confirmacion-form button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #01a839cd;
    color: #fff;
    font-size: 1.2em;
    font-family: "Belleza", serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#confirmacion-form button:hover {
    background: #0056b3;
}
.music-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(47, 194, 207, 0.85);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    transition: background 0.3s;
  }
  
  .music-btn:hover {
    background-color: rgba(37, 170, 181, 0.9);
  }
  
  .note {
    display: block;
    line-height: 60px;
  }
  
/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .frase-boda p {
        font-size: 1.5em;
    }
    
    .frase-boda {
        padding: 20px 15px;
        margin: 20px 15px;
    }
/* tarjeta de padres */
.padres h2 {
    font-size: 30px;
}

.padres-container {
    gap: 20px;
}

.padres-card {
    width: calc(50% - 20px);
    min-width: 250px;
}

    /* Tarjetas de ubicacion  */
    .card-container {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        max-width: 100%;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1000;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100vh;
        background-color: #040404f5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        margin: 0;
    }

    nav.active {
        right: 0;
        padding: 0;
    }

    nav a {
        width: 100%;
        padding: 15px 20px;
        justify-content: center;
        height: auto;
    }
    a:hover {
        background-color: #01a839cd;
        color: #fff;
        font-weight: bold;
        width: 100%;
        padding: 15px 20px;
        height: auto;
    }

    .logo {
        width: 70%;
    }

    /* carrusel de fotos */
    .album-title h2 {
        font-size: 1.5em;
      }
    .novios-carousel {
        height: 300px; /* Ajusta la altura del carrusel para dispositivos móviles */
      }
    
      .novios-carousel .swiper-slide img {
        height: 100%;
      }
}
@media (max-width: 480px) {
    header {
        height: auto;
    }

    .logo span {
        font-size: 1.2rem;
    }

    nav a {
        font-size: 12px;
    }

    
#cuenta h2 {
  font-size: 25px;
}
    .home h1 {
        font-size: 45px;  
        margin-top: 30vh;
        margin-bottom: 15vh;
       

    }
    /* tarjeta de padres */
    .padres h2 {
        font-size: 25px;
    }
    
    .padres-card {
        width: 100%;
    }
    
    .padres-img {
        height: 180px;
    }
    
    .padres-card h3 {
        font-size: 1.5em;
    }
    
    .padres-nombres p {
        font-size: 1em;
    }

    
    .Ubicaciones h2 {
        font-size: 25px;
    }


    .simply-container {
        flex-direction: row;
    }

    .simply-section {
        width: 50px;
        height: 50px;
    }

    .simply-amount {
        font-size: 18px;
    }

    .simply-word {
        font-size: 10px;
    }
  
    /* formulario */
    .confirmacion {
        padding: 30px 15px;
        margin: 30px 15px;
    }

    .confirmacion h2 {
        font-size: 2em;
    }

    #confirmacion-form input,
    #confirmacion-form select,
    #confirmacion-form textarea {
        font-size: 0.9em;
    }

    #confirmacion-form button {
        font-size: 1em;
    }
}

