@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
}
/* Seccion para navbar */
header {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #040404c2;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 32px;

}

.logo span {

    color: #fff;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 12px;
}

nav {
    width: 50%;
    margin: 32px;
    display: inline-flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: #01a839cd;
    font-weight: bold;
}

/* Sección del home */
.home{
    position: relative;
    z-index: 1;  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/home.jpg); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    
  }
  .home::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.327)
  }
  .home h1{
    color: #fff;
    margin-top: 50vh;
    text-align: center;
    font-size: 80px;
    font-family: "Fleur De Leah", serif;
    text-shadow: 3px 3px 3px black;
   font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
    
  }
  .home h3{
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family:"Belleza", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    font-style: normal;
    
  }
  .home span{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family:"Belleza", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    font-style: normal;
  }
  
.date {
 
  display: flex; /* Usamos flexbox para alinear los elementos */
  margin-top: 30px; /* Espaciado superior */
  padding-left: 40px; /* Espaciado izquierdo */
  padding-right: 40px; /* Espaciado derecho */
  padding-bottom: 20px;
}

.day, .month, .year  {  
  flex: 1; /* Ocupa el mismo espacio */   
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  margin: 0 2px; /* Espacio entre los elementos */
  justify-content: center;
 
}

.day, .year {

  border-top: 3px solid white; /* Borde superior */
  border-bottom: 3px solid white; /* Borde inferior */
  box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.5), 0 4px 2px -2px rgba(0, 0, 0, 0.5); /* Sombra en los bordes superior e inferior */
 
}