@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  background: #EFEFEF; /* Asegúrate de que el color de fondo tenga el formato correcto */
}

body {
  height: auto;
}

/* Seccion para navbar */
header {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #040404c2;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 32px;
}

.logo span {
    color: #fff;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 12px;
}

nav {
    width: 50%;
    margin: 32px;
    display: inline-flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: #01a839cd;
    font-weight: bold;
}

/* Sección del home */
.home {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    background-image: url(../imagenes/home.jpg); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* background-attachment: fixed; */
   
}

.home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.327);
}

.home h1 {
    color: #fff;
    margin-top: 45vh;
    text-align: center;
    font-size: 80px;
    font-family: "Fleur De Leah", serif;
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.home h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "Belleza", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    font-style: normal;
}

.home span {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: "Belleza", sans-serif;
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    font-style: normal;
}
.parallax {
    margin-top: 10vh;
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.parallax h1, .parallax h3, .parallax .date {
    position: relative;
    z-index: 1; /* Asegúrate de que el contenido esté por encima del fondo */
    text-align: center; /* Centra el texto */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 20px; /* Ajusta el relleno según sea necesario */
}

.date {
    display: flex; /* Usamos flexbox para alinear los elementos */
    margin-top: 30px; /* Espaciado superior */
    padding-left: 40px; /* Espaciado izquierdo */
    padding-right: 40px; /* Espaciado derecho */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.day, .month, .year {
    flex: 1; /* Ocupa el mismo espacio */
    padding: 5px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    margin: 0 2px; /* Espacio entre los elementos */
    justify-content: center;
}

.day, .year {
    border-top: 3px solid white; /* Borde superior */
    border-bottom: 3px solid white; /* Borde inferior */
    box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.5), 0 4px 2px -2px rgba(0, 0, 0, 0.5); /* Sombra en los bordes superior e inferior */
}

/* Sección de la fecha */

/* ? ----- Cuenta Regresiva ----- */
#cuenta {
    display: flex;
    flex-direction: column;
    background: #ccc;
    height: 40%;
    padding-top: 25px;
    align-items: center;
    text-align: center;
}

#cuenta h2 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-family: "Belleza", serif;
    font-size: 45px;
    padding-bottom: 10px;
}

.simply-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
}

.simply-section {
    background: #1d8009;
    width: 120px;
    height: 120px;
    margin: 0 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    font-family: "Fleur De Leah", serif;
}

.simply-word {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    font-family: "Belleza", serif;
}

/* ? ---------------------------- */

/* Media Queries para Responsividad */


@media (max-width: 480px) {
    header {
        height: auto;
    }

    .logo span {
        font-size: 1.2rem;
    }

    nav a {
        font-size: 12px;
    }
.home{
  height: 70vh;
}
#cuenta h2 {
  font-size: 25px;
}
    .home h1 {
        font-size: 40px;  
        margin-top: 15vh;

    }
    

    .home h3 {
        font-size: 20px;
    }

    .home span {
        font-size: 25px;
    }

    .simply-container {
        flex-direction: row;
    }

    .simply-section {
        width: 50px;
        height: 50px;
    }

    .simply-amount {
        font-size: 10px;
    }

    .simply-word {
        font-size: 8px;
    }
}